#enlarge-hover,
[class*="-icon"] {
    @extend %icon;
}

@each $item in radical, kanji, vocabulary {
    .#{$item}-icon {
        @include character($item);
    }
}

.japanese-font-styling-correction,
.enlarge-hover {
    color: $shade-black !important;
}
